<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= ElixirStatus.Meta.html_description %>">
    <meta name="author" content="">
    <%= if logged_in?(@conn) do %>
      <meta name="logged_in_as" content="<%= @current_user.user_name %>">
    <% end %>
    <%= if assigns[:canonical_url] do %>
      <link rel="canonical" href="<%= @canonical_url %>">
    <% end %>
    <meta property="og:image" content="<%= og_image_url(assigns) %>" />

    <title><%= html_title(assigns) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render ElixirStatus.SharedView, "cookieconsent.html", conn: @conn %>
  </head>

  <body>
    <%= render ElixirStatus.SharedView, "sidebar.html", conn: @conn %>

    <div class="content">
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <%= render ElixirStatus.SharedView, "footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app/app")</script>

    <%= render ElixirStatus.SharedView, "tracking.html" %>
  </body>
</html>
