<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= ElixirStatus.Meta.html_description %>">
    <meta name="author" content="">
    <%= if logged_in?(@conn) do %>
      <meta name="logged_in_as" content="<%= @current_user.user_name %>">
    <% end %>
    <meta property="og:image" content="<%= og_image_url(assigns) %>" />

    <title><%= ElixirStatus.Meta.html_title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render ElixirStatus.SharedView, "sidebar.html", conn: @conn %>
    <div id="beta-hint">
      ElixirStatus is a <a href="https://github.com/rrrene/elixirstatus-web" target="_blank">community project</a> currently in beta. Please <a href="https://github.com/rrrene/elixirstatus-web/issues/25" target="_blank">post a comment</a> if you can think of any improvement to the site!
    </div>

    <div class="content">
      <div class="container">
        <%= @inner %>
      </div>
    </div>

    <%= render ElixirStatus.SharedView, "footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>

    <%= render ElixirStatus.SharedView, "tracking.html" %>
  </body>
</html>
