@import "_config";

.post {
  background: #fff;
  border-bottom: 2px solid #D8DDE1;
  margin-top: 0.75rem;
  padding: 0.5rem;

  .functions {
    a {
      color: #aaa;
    }
  }
}

.post--new {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.post--referred-via-elixirweekly {
}

.post--preview {
  margin-bottom: -2rem;
  border-bottom: 1px solid #fb0;
  background-color: #ffe;
}

.post--sign-in-to-post {
  background: transparent;
  border: none;
  padding-top: 0;
  a.btn {
    vertical-align: middle;
  }
}

.post__inner {
  overflow: hidden;
}

/* Title */
.post__title,
.post__title a {
  color: #303030;
}
.post__title {
  margin-top: 0rem !important;
}

/* GitHub Avatar */
.post__avatar {
  display: none;
}

.post__sign-in {
  margin-bottom: 1rem;
}

/* Meta data line below post title */
.post__meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;

  strong {
    font-weight: normal;
    font-style: normal;
    background-color: #ffa;
  }

  a {
    color: #9a9a9a;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      color: #555;
    }
  }
}

.post__meta-information {
  color: #9a9a9a;
  .posting-type-selector,
  .posting-url-selector,
  .posting-stats {
    color: #ccc;
    border: 1px dashed #ccc;
  }
}

.post__meta-information {
  color: #9a9a9a;
}
.posting-type {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.675rem;
  vertical-align: text-bottom;

  background: #b066ff;
  color: #fff;

  &:hover {
  //  border: 1px dashed #9a9a9a;
  }
}
.posting-type--blog_post {
  background: #12982e;
  color: #fff;
}
.posting-type--conference {
  background: #009be6;
  color: #fff;
}
.posting-type--meetup {
  background: #00acff;
  color: #fff;
}
.posting-type--project_update {
  background: #ffe100;
  color: #222222;
}
.posting-type--video {
  background: #e62117;
  color: #fff;
}
.posting-type-selector {
  color: #555;
  border: 1px dashed #fff;
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  &:hover {
  //  border: 1px dashed #9a9a9a;
  }
}
select.posting-type-selector {
  border: 1px dashed #9a9a9a;
  font-size: 0.875rem;
}
.posting-url-selector {
  color: #A5CADC;
  border: 1px dashed #A5CADC;
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  white-space: nowrap;
}
.posting-stats {
  color: #E0C225;
  border: 1px dashed #E0C225;
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  white-space: nowrap;
}

.post__functions {
  small,span {
    display: block;
    float: left;
  }
  span {
    float: right;
    text-align: right;
  }
  .admin {
    a {
      display: inline-block;
      padding: 2px 8px;
      background: #f5f5f5;
      color: #ddd;
      text-decoration: none;
      &:hover {
        background: #faa;
        color: #f00;
      }
    }
  }
  @include clearAfter
}


.post__body {
  a {
    word-break: break-word;
    color: #5E49BA;
    text-decoration: underline;
  }
}

@include phablet_landscape_and_bigger {
  .post {
    padding-top: 2rem;
    padding-bottom: 1.75rem; /* the last <p> in the post accounts for 1rem,
                              so we add another to arrive at 2rem */
    padding-left: 80px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .post__avatar {
    display: block !important;
    position: absolute;
    z-index: 50;
    margin-left: -80px;

    .image {
      background-color: #f0f0f0;
      background-size: 100% 100%;
      width: 64px;
      height: 64px;
      border-radius: 25%;
    }
  }
}
