@import "_config";

.form-section {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.form-section__title {
  text-rendering: optimizeLegibility;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: bold;
  color: #313131;

  @include clearAfter;
}

.form-section__input {
  input[type=text] {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 2;
    color: #313131;
    border: 2px solid #eee;
    border-radius: 4px;
    background: #f5f5f5;
    padding: 3px;
  }
}
.form-section__input--checkbox {
  margin-bottom: 1rem;

  label {
    display: inline-block;
  }
}
.form-section__input--radio {
  margin-bottom: 1rem;

  label {
    display: inline-block;
  }
}
.form-section__label {
  display: block;
  font-weight: bold;
}

@include phablet_landscape_and_bigger {
  .form-section__input {
    input[type=text] {
      display: inline-block;
      min-width: 20rem;
      width: auto;
    }
  }
}
