@import "_config";

.post-pagination {
  overflow: hidden; /* clearfix */
  color: #ccc;
  @include clearAfter;
}
.post-pagination__item {
  display: block;

  &:hover {
    background-color: inherit;
  }
  &:first-child {
    text-align: left;
    &:before {
      content: "← ";
    }
  }
  &:last-child {
    text-align: right;
    &:after {
      content: " →";
    }
  }
}
.post-pagination__item--empty {
  display: none;
}

@include phablet_landscape_and_bigger {
  .post-pagination {
    margin-bottom: -1rem;
  }
}
@media (min-width: 30em) {
  .post-pagination__item {
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}
