@import "_config";

input.post-title,
textarea.post-body {
  border: none;
  outline: none;
  width: 100%;
  background: #fafafa;

  &:focus {
    background: transparent;
  }
}
.search {
  text-align: center;
}
.search input[type="text"] {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  margin: 0 auto;
}

textarea.post-body {
  font-family: inherit;
  font-size: inherit;
  min-height: 200px;
}

form input.error,
form textarea.error {
  border: 2px solid #faa;
}
