@import "_config";

.post {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #EED7FF;
  .functions {
    a {
      color: #aaa;
    }
  }
}

.new-post {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.preview-post {
  margin-bottom: -2rem;
  border-bottom: 1px solid #fb0;
  background-color: #ffe;
}
.post-avatar {
  display: none;
}

.sign-in-to-post {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  a.btn {
    margin-top: 10px;
  }
}

small {
  font-size: 0.875rem;
}

.tweet {
  background-color: #DEECFF;
  border-left: 3px solid #79A7E5;
  font-size: 0.875rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

.functions {
  small,span {
    display: block;
    float: left;
  }
  span {
    float: right;
    text-align: right;
  }
  .admin {
    a {
      display: inline-block;
      padding: 2px 8px;
      background: #f5f5f5;
      color: #ddd;
      text-decoration: none;
      &:hover {
        background: #faa;
        color: #f00;
      }
    }
  }
  @include clearAfter
}

strong > em {
  font-weight: normal;
  font-style: normal;
  background-color: #ffa;
}

#formatting-help {
  margin-top: 20px;
  pre {
    background: transparent;
  }
}
