
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.33;
  background-color: #f0f0f0;
  border-color: #ddd;
  color: #333;
}
.btn.focus, .btn:focus, .btn:hover {
  text-decoration: none;
}
.btn-sign-in {
  color: #fff;
  background-color: #78669E;
  border-color: #6540B2;
}
.btn-sign-in:hover {
  color: #fff;
  background-color: #8163C0;
  border-color: #6540B2;
}
.btn-tweet {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-tweet:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary {
  color: #fff;
  background-color: #127429;
  border-color: #204d74;
}
.btn-primary:hover {
  color: #fff;
  background-color: #356841;
  border-color: #204d74;
}
.btn-danger {
  color: #fff;
  background-color: #c33;
  border-color: #913939;
}
.btn-danger:hover {
  color: #fff;
  background-color: #F01515;
  border-color: #B84040;
}
.btn-scheduled {
  color: #C9F0A9 !important;
  background-color: #86BB92;
  border-color: #61AD71;
}
.btn-scheduled:hover {
  color: #C9F0A9 !important;
  background-color: #86BB92;
  border-color: #61AD71;
}
