@import "_config";

input.post-title,
textarea.post-body {
  border: none;
  outline: none;
  width: 100%;
  background: #fafafa;

  &:focus {
    background: transparent;
  }
}

textarea.post-body {
  font-family: inherit;
  font-size: inherit;
  min-height: 200px;
}
