<h1>ADMIN OVERVIEW</h1>

<table>
  <%= for posting <- @postings do %>
    <tr>
      <td>@<%= posting.user.user_name %></td>
      <td><%= sanitized_inline_markdown posting.title %></td>
      <td><%= ElixirStatus.Impressionist.count "frontpage", "posting", posting.uid %></td>
      <td><%= ElixirStatus.Impressionist.count "detail", "posting", posting.uid %></td>
    </tr>
  <% end %>
</table>
