
<p>
  By signing in, you show that you would like this site to exist.
</p>
<a class="btn btn-primary btn-lg" href="<%= git_hub_auth_path @conn, :sign_in %>">
  <i class="fa fa-github"></i>
  Sign in with GitHub
</a>
