
<a class="btn btn-primary btn-lg" href="<%= git_hub_auth_path @conn, :sign_in %>">
  <img src="https://twemoji.maxcdn.com/36x36/2764.png" style="height: 18px; vertical-align: middle; display: inline-block;"> +1 for this to be made
</a>
<small>Signs you in via GitHub.</small>
