<h2>Edit posting</h2>

<%= render "form.html", current_user_name: current_user(@conn).user_name,
                        changeset: @changeset,
                        action: posting_path(@conn, :update, @posting) %>

<%= link "Back", to: posting_path(@conn, :index) %>
