<h2>New posting</h2>

<%= render "form.html", current_user_name: current_user(@conn).user_name,
                        changeset: @changeset,
                        action: posting_path(@conn, :create),
                        conn: @conn,
                        posting: nil,
                        editing?: false %>

<%= link "Back", to: posting_path(@conn, :index) %>
