<%= link "Back", to: posting_path(@conn, :index), class: "btn btn-back" %>

<h2>New posting</h2>

<%= render "form.html", current_user: current_user(@conn),
                        changeset: @changeset,
                        action: posting_path(@conn, :create),
                        conn: @conn,
                        posting: nil,
                        css_class: "new-post",
                        editing?: false %>
